.icon-primary-secondary {
    --fa-primary-color: var(--bs-primary);
    --fa-secondary-color: var(--bs-secondary);
}


:root {
    --pc-sidebar-submenu-border-color: var(--bs-gray-300);
    --pc-sidebar-active-color: transparent !important; /* Renksiz yapar */
    --pc-sidebar-active-color-rgb: rgba(0, 0, 0, 0) !important; /*Tamamen şeffaf renk*/
}

[data-pc-preset=preset-1] {
    --pc-sidebar-active-color: transparent !important;
}

.avtar-toltek {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    width: 38px;
    height: 38px
}

/* Genel badge ayarları */
.tbadge {
    display: inline-flex;
    align-items: center;
    padding: 0.25em 0.4em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.375rem;
    border: 1px solid; /* Kenar çizgisinin kalınlığını belirleyin */
}

    /* Renk seçenekleri */
    .tbadge.bg-light-primary {
        background: #d4e7f9;
        color: #2689e2;
        border-color: #2689e2; /* Kenar çizgisi rengi */
    }

    .tbadge.bg-light-secondary {
        background: #e0cffc;
        color: #6610f2;
        border-color: #6610f2; /* Kenar çizgisi rengi */
    }

    .tbadge.bg-light-success {
        background: #ccf4dd;
        color: #00c853;
        border-color: #00c853; /* Kenar çizgisi rengi */
    }

    .tbadge.bg-light-info {
        background: #d8f4f7;
        color: #3ec9d6;
        border-color: #3ec9d6; /* Kenar çizgisi rengi */
    }

    .tbadge.bg-light-warning {
        background: #fff3cd;
        color: #ffc107;
        border-color: #ffc107; /* Kenar çizgisi rengi */
    }

    .tbadge.bg-light-danger {
        background: #fdd9d7;
        color: #f44336;
        border-color: #f44336; /* Kenar çizgisi rengi */
    }

    .tbadge.bg-light-light {
        background: #fefefe;
        color: #f8f9fa;
        border-color: #f8f9fa; /* Kenar çizgisi rengi */
    }

    .tbadge.bg-light-dark {
        background: #cfd1d7;
        color: #111936;
        border-color: #111936; /* Kenar çizgisi rengi */
    }



.border-primary {
    color: var(--bs-primary) !important;
}

.border-secondary {
    color: var( --bs-secondary);
}

.border-success {
    color: var( --bs-success);
}

.border-info {
    color: var( --bs-info);
}

.border-warning {
    color: var( --bs-primary);
}

.border-danger {
    color: var( --bs-danger);
}

.border-light {
    color: var( --bs-light);
}

.border-dark {
    color: var( --bs-dark);
}

